
@import './bootstrap.min';

$disabled-color: #636363;

body {
    background: #E5E8E8;
}

input {
    text-align: center; 
}

.btn-disabled {
    background: $disabled-color !important;
    cursor: not-allowed !important;
    border: none;
    &:hover {
        border: none !important;
    }
}

.list-item-name {
    transition: all 250ms ease-in-out;

    &:hover {
        transform: scale(1.03);
    }
}

.pass-cont {
    position: relative;
}

.visibleIcon {
    position: absolute;
    top: 55%;
    right: 5%;
}
