
@import './bootstrap.min';

$disabled-color: #636363;

input {
    text-align: center; 
}

.btn-disabled {
    background: $disabled-color !important;
    cursor: not-allowed !important;
    border: none;
    &:hover {
        border: none !important;
    }
}

.list-item-name {
    transition: all 250ms ease-in-out;

    &:hover {
        transform: scale(1.03);
    }
}
